In [55]:
import pathlib
import pandas as pd
import numpy as np

import json

In [3]:
input_path = pathlib.Path('./SBJ_2102_001')

In [142]:

전입자수 = pd.read_csv(input_path.joinpath('20.세종시_전입자수.csv'),encoding="utf-8")
전출자수 = pd.read_csv(input_path.joinpath('21.세종시_전출자수.csv'),encoding="utf-8")

In [14]:
전입자수합계.to_excel('전입자수합계.xlsx',encoding='utf-8')

In [38]:
#년도 변수 생성
전입자수['년도']=0

In [145]:
#년도 인덱싱을 위해 str형으로 변환
전입자수=전입자수.astype({'년월':str})
전입자수.dtypes

년월         object
전입자수        int64
세종전입행정동    object
전출시        object
전출시군구      object
전출읍면동      object
dtype: object

In [147]:
#년월에서 년도만 추출하여 년도변수에 추가
전입자수['년도']=전입자수["년월"].str[0:4]

In [148]:

전입자수=전입자수.astype({'년월':str})
전입자수=전입자수.astype({'년도':str})

In [114]:
#전입자수 합계 (조치원읍, 새롬동, 도담동)
전입자수합계_전입동=전입자수.groupby(by=['세종전입행정동']).sum().groupby(level=[0]).cumsum()
전입자수합계_전입동.sort_values('전입자수',ascending=False)

           전입자수
세종전입행정동
조치원읍     389977
새롬동      273930
도담동      197041
한솔동      169810
보람동      163655
고운동      147483
소담동      127805
종촌동      116747
아름동       84589
금남면       75610
장군면       55746
대평동       54839
연서면       52265
부강면       36222
전의면       29931
연기면       19928
다정동       19534
연동면       17385
전동면       16547
소정면        7544

In [112]:
#년도별 전입 2018-2017-2020 비슷비슷
전입자수합계_년도별전입=전입자수.groupby(by=['년도']).sum().groupby(level=[0]).cumsum()
전입자수합계_년도별전입.sort_values('전입자수',ascending=False).head(20)

        전입자수
년도
2018  517171
2017  507673
2020  500284
2019  491174
2021   40286

In [115]:
#세종 사이의 이사를 제외한 (대전25만, 충북23만, 충남22만 이사옴)
전입자수합계_전출시=전입자수.groupby(by=['전출시']).sum().groupby(level=[0]).cumsum()
전입자수합계_전출시.sort_values('전입자수',ascending=False)

            전입자수
전출시
세종특별자치시  1040006
대전광역시     254368
충청북도      231053
충청남도      220788
경기도        90530
서울특별시      38982
경상북도       33467
전라북도       29952
경상남도       25790
전라남도       23388
강원도        21352
대구광역시       9334
광주광역시       9260
제주특별자치도     8319
인천광역시       7628
부산광역시       6779
울산광역시       5592

In [ ]:
전입자수합계_전출시=전입자수.groupby(by=['전출시']).sum().groupby(level=[0]).cumsum()
전입자수합계_전출시.sort_values('전입자수',ascending=False)

In [135]:
세종전출제외전입수=전입자수[전입자수['전출시']!='세종특별자치시']

In [131]:
#타지역에서 이사온사람 (새롬동,도담동,보람동,한솔동)
세종전출제외전입수=세종전출제외전입수.groupby(by=['세종전입행정동']).sum().groupby(level=[0]).cumsum()
세종전출제외전입수.sort_values('전입자수',ascending=False)

           전입자수
세종전입행정동
새롬동      158160
도담동      109768
보람동      103402
한솔동      101013
고운동       91081
조치원읍      91037
종촌동       76512
소담동       68810
아름동       57455
대평동       31043
장군면       26300
금남면       20546
부강면       18727
연서면       18675
전의면        9962
다정동        9608
연기면        8154
연동면        6475
전동면        4953
소정면        4901

In [164]:
#2018년에 가장 이사 많이옴
세종전출제외전입수=세종전출제외전입수.groupby(by=['년도']).sum().groupby(level=[0]).cumsum()
세종전출제외전입수.sort_values('년도',ascending=True)

        전입자수
년도
2017  256064
2018  261307
2019  242545
2020  235766
2021   20900